<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34531433893-qnup445ko8n2h9ubkbq24un8ibn2mmiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34531433893-qnup445ko8n2h9ubkbq24un8ibn2mmiq</string>
	<key>API_KEY</key>
	<string>AIzaSyA3eJvvW8dg5Kh56ltqxYr_dQdKRy2Q0DI</string>
	<key>GCM_SENDER_ID</key>
	<string>34531433893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>darcy.iCloudDocument</string>
	<key>PROJECT_ID</key>
	<string>fir-3e58f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-3e58f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34531433893:ios:1678ccf82b55a610d65c4c</string>
</dict>
</plist>